@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-family: 'Roboto', sans-serif;
}

body {
   overflow: hidden;
}

a {
   text-decoration: none;
}

img {
   max-width: 100%;
   display: block;
}

ul {
   list-style: none;
}

main {
   width: 100%;
   height: calc(100vh - 90px);
   overflow-y: auto;
   display: flex;
}

/* - - - SIDEBAR - - - */

.sidebar {
   width: 230px;
   padding: 20px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   background-color: black;
   color: #A3A3A3;
   font-weight: bold;
}

.logo-section {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 20px;
}

.logo-big {
   height: 40px;
   display: block;
}

.logo-small {
   height: 30px;
   display: none;
}

.home-section {
   font-size: 16px;
   margin-bottom: 30px;
}

.home-section li {
   display: flex;
   align-items: center;
   gap: 8px;
   padding: 10px 0;
}

.home-section li:hover {
   color: #D2D2D2;
}

.home-section .icon-wrapper {
   width: 25px;
}



/* - - - MAIN CONTENT - - - */

.main-content {
   flex-grow: 1;
   
}

.upgrade-section {
   text-align: right;
}

.navbar-list {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap: 10px;
   white-space: nowrap;
}

.main-content .row {
   height: 150px;
}


/* - - - TOOLBAR - - - */

.toolbar {
   height: 90px;
   width: 100%;
   padding: 0 10px;
   position: fixed;
   bottom: 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #282828;
   color: #FFFFFF;
}

.song-info-section {
   display: flex;
   gap: 10px;
}

.song-info-section .img-wrapper {
   height: 45px;
   aspect-ratio: 1 / 1;
}

.song-info {
   display: flex;
   flex-direction: column;
}

.song-info > * {
   border: 1px solid white;
   background-color: red;
}

.timeline-section {
   width: 35%;
   min-width: 220px;
}

.timeline-section div {
   border: 1px solid orange;
}

.timeline-section .control-buttons {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 25px;
   font-size: 25px;
}

.timeline-section .control-buttons .fa-play-circle{
   font-size: 35px;
}

.timeline {
   display: flex;
}

.time-bar {
   flex-grow: 1;
   flex-shrink: 1;
}




/*  - - - MEDIA QUERIES - - - */

/* XS layout */
@media screen and (max-width: 550px) {

   .sidebar {
      width: 50px;
      padding: 8px 0;
   }

   .hidden-sm-sidebar {
      display: none;
   }

   .logo-section {
      margin-bottom: 10px;
   }

   .logo-big {
      display: none;
   }

   .logo-small {
      display: block;
   }

   .home-section li {
      justify-content: center;
   }
}


/* - - - DEBUG - - - */

.debug main {
   background-color: grey;
}

.debug footer {
   background-color: orange;
}

.debug .sidebar {
   background-color: black;
}

.debug .sidebar > div {
   background-color: blue;
   border: 2px solid white;
}

.debug .sidebar > div > * {
   background-color: rgb(0, 183, 255);
   border: 2px solid white;
}

.debug .main-content {
   background-color: rgb(82, 82, 82);
}

.debug .main-content > *{
   background-color: green;
   border: 2px solid white;
   color: white;
}

.debug .toolbar > div {
   border: 1px solid black;
   background-color: orangered;
}