* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   /* overflow: hidden; */
}

a {
   text-decoration: none;
}

img {
   max-width: 100%;
}

ul {
   list-style: none;
}

/* ------- */

main {
   width: 100%;
   height: calc(100vh - 90px);
   display: flex;
}

.sidebar {
   width: 230px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.main-content {
   flex-grow: 1;
   
}

.upgrade-section {
   text-align: right;
}

.navbar-list {
   display: flex;
   justify-content: center;
   gap: 10px
}

.row {
   height: 150px;
}

footer {
   
}

.toolbar {
   height: 90px;
   width: 100%;
   position: fixed;
   bottom: 0;
}


/*  - - - MEDIA QUERIES - - - */

/* XS layout */
@media screen and (max-width: 550px) {

   .sidebar {
      width: 50px;
   }
}


/* - - - DEBUG - - - */

.debug main {
   /* border: 2px solid black; */
   background-color: grey;
}

.debug footer {
   /* border: 2px solid red; */
   background-color: orange;
}

.debug .sidebar {
   background-color: green;
   padding: 20px;
}

.debug .sidebar > div {
   padding: 10px;
   background-color: blue;
   border: 2px solid white;
   color: white;
}

.debug .sidebar > div > * {
   padding: 5px;
   background-color: rgb(0, 183, 255);
   border: 2px solid white;
   color: white;
}

.debug .main-content {
   background-color: rgb(82, 82, 82);
   padding: 20px;
}

.debug .main-content > *{
   background-color: black;
   padding: 20px;
   border: 2px solid white;
   color: white;
}