@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-family: 'Roboto', sans-serif;
}

body {
   overflow: hidden;
}

a {
   text-decoration: none;
}

img {
   max-width: 100%;
   display: block;
}

ul {
   list-style: none;
}

main {
   width: 100%;
   height: calc(100vh - 90px);
   overflow-y: auto;
   display: flex;
}


/* - - - SIDEBAR - - - */

.sidebar {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   flex-basis: 230px;
   flex-shrink: 0;
   position: relative;
   height: 100%;
   padding: 20px 20px 0 20px ;
   overflow: hidden;
   background-color: black;
   color: #A3A3A3;
   font-weight: bold;
}

   /* Logo */

.logo-section {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 20px;
}

.logo-big {
   height: 40px;
   display: block;
}

.logo-small {
   height: 30px;
   display: none;
}

   /* Home */

.home-section {
   font-size: 16px;
   margin-bottom: 30px;
}

.home-section li {
   display: flex;
   align-items: center;
   gap: 8px;
   padding: 10px 0;
}

.home-section li:hover {
   color: #D2D2D2;
}

.home-section .icon-wrapper {
   width: 25px;
}

   /* Playlist */

.playlist-section h3 {
   text-transform: uppercase;
   margin-bottom: 10px;
   color: white;
}

.new-playlist {
   display: flex;
   align-items: center;
   gap: 10px;
   font-size: 18px;
   margin-bottom: 15px;
}

.new-playlist .icon-wrapper {
   height: 40px;
   aspect-ratio: 1 / 1;
   /* border-radius: 5px; */
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #A3A3A3;
}

.new-playlist i {
   font-size: 22px;
   color: black;
}

.playlist-list li {
   margin-bottom: 10px;
}

   /* Profile */

.profile-section {
   position: sticky;
   bottom: 0;
   left: 0;
   padding: 10px 0 20px 0;
   background-color: black;
}

.download-cta {
   display: flex;
   align-items: center;
   gap: 10px;
   vertical-align: middle;
   padding-bottom: 10px;
   margin-bottom: 10px;
   border-bottom: 2px solid #A3A3A3;
}

.download-cta .img-wrapper {
   height: 20px;
   aspect-ratio: 1 / 1;
}

.profile {
   display: flex;
   align-items: center;
   gap: 10px;
}

.profile .img-wrapper {
   width: 30px;
   aspect-ratio: 1 / 1;
   border-radius: 50%;
   background-color: #808080;
   overflow: hidden;
}

.profile-name {
   color: white;
   font-weight: bolder;
   font-size: 17px;
}


/* - - - MAIN CONTENT - - - */

.main-content {
   flex-grow: 1;
   height: 100%;
   position: relative;
}

.upgrade-section {
   position: sticky;
   top: 0;
   right: 0;
   width: 100%;
   text-align: right;
}

.navbar-list {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap: 10px;
   white-space: nowrap;
}

.main-content .row {
   min-height: 150px;
}


/* - - - TOOLBAR - - - */

.toolbar {
   height: 90px;
   width: 100%;
   padding: 0 10px;
   position: fixed;
   bottom: 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #282828;
   color: #FFFFFF;
}

   /* Song info */

.song-info-section {
   width: 180px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 10px;
}

.song-info-section .img-wrapper {
   height: 45px;
   aspect-ratio: 1 / 1;
}

.song-info {
   display: flex;
   align-items: center;
   gap: 10px;
}

.song-wrapper {
   display: flex;
   flex-direction: column;
}

.song-buttons {
   display: flex;
   align-items: center;
   gap: 15px;
}

.song-buttons .icon-wrapper {
   font-size: 18px;
}

   /* Timeline */

.timeline-section {
   width: 35%;
   min-width: 220px;
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.timeline-section .control-buttons {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 25px;
   font-size: 25px;
}

.timeline-section .control-buttons .fa-play-circle {
   font-size: 35px;
}

.timeline {
   display: flex;
}

.time-bar-wrapper {
   flex-grow: 1;
   flex-shrink: 5;
   padding: 0 15px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.time-bar {
   height: 7px;
   width: 100%;
   border-radius: 7px;
   background-color: #5A5A5A;
   position: relative;
}

.actual-time-bar {
   position: absolute;
   left: 0;
   z-index: 1;
   width: 25%;
   height: 100%;
   border-radius: 7px;
   background-color: #FFFFFF;
}


/*  - - - MEDIA QUERIES - - - */

/* XS layout */
@media screen and (max-width: 550px) {

   .sidebar {
      flex-basis: 50px;
      padding: 8px 0;
   }

   .hidden-sm-sidebar {
      display: none;
   }

   .logo-section {
      margin-bottom: 10px;
   }

   .logo-big {
      display: none;
   }

   .logo-small {
      display: block;
   }

   .home-section li {
      justify-content: center;
   }

   .download-cta {
      justify-content: center;
      border: none;
   }

   .profile {
      justify-content: center;
   }
}

@media screen and (max-height: 550px) {
   
   .profile-section {
      display: none;
   }
}


/* - - - DEBUG - - - */

.debug main {
   background-color: grey;
}

.debug footer {
   background-color: orange;
}

.debug .sidebar {
   background-color: black;
}

.debug .sidebar > div {
   background-color: blue;
   border: 2px solid white;
}

.debug .sidebar > div > * {
   background-color: rgb(0, 183, 255);
   border: 2px solid white;
}

.debug .main-content {
   background-color: rgb(82, 82, 82);
}

.debug .main-content > *{
   background-color: green;
   border: 2px solid white;
   color: white;
}

.debug .toolbar > div {
   border: 1px solid black;
   background-color: orangered;
}