@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-family: 'Roboto', sans-serif;
}

body {
   overflow: hidden;
}

a {
   text-decoration: none;
}

img {
   max-width: 100%;
   display: block;
}

ul {
   list-style: none;
}

main {
   width: 100%;
   height: calc(100vh - 90px);
   display: flex;
}


/* - - - SIDEBAR - - - */

.sidebar {
   display: flex;
   flex-direction: column;
   flex-basis: 230px;
   flex-shrink: 0;
   position: relative;
   height: 100%;
   padding: 20px 20px 0 20px ;
   background-color: black;
   color: #A3A3A3;
   font-weight: bold;
}

   /* Logo */

.logo-section {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 20px;
}

.logo-section svg {
   fill: white;
}

.logo-big {
   height: 40px;
   display: block;
}

.logo-small {
   height: 30px;
   display: none;
}

   /* Home */

.home-section {
   font-size: 16px;
   margin-bottom: 20px;
}

.home-section svg {
   fill: #A3A3A3;
}

.home-section li {
   display: flex;
   align-items: center;
   gap: 8px;
   padding: 10px 0;
   position: relative;
}

.home-section li.active::after {
   content: "";
   display: block;
   height: 70%;
   width: 3px;
   background-color: #ADFF2F;
   position: absolute;
   top: 15%;
   left: -20px;
}

.home-section li.active {
   color: white;
}

.home-section li.active svg {
   fill: white;
}

.home-section li:hover {
   cursor: pointer;
   color: white;
}

.home-section li:hover svg {
   fill: white;
}

.home-section .icon-wrapper {
   width: 25px;
}

   /* Playlist */

.playlist-title {
   text-transform: uppercase;
   margin-bottom: 10px;
   color: white;
}

.new-playlist {
   display: flex;
   align-items: center;
   gap: 10px;
   font-size: 18px;
   margin-bottom: 15px;
}

.new-playlist:hover {
   cursor: pointer;
   color: white;
}

.new-playlist:hover .icon-wrapper {
   background-color: white;
}

.new-playlist .icon-wrapper {
   height: 40px;
   aspect-ratio: 1 / 1;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #A3A3A3;
}

.new-playlist i {
   font-size: 22px;
   color: black;
}

.playlist-list {
   flex-grow: 1;
   overflow-y: auto;
}

.playlist-list li {
   margin-bottom: 10px;
}

.playlist-list li:hover {
   color: white;
   cursor: pointer;
}

   /* Profile */

.profile-section {
   position: sticky;
   bottom: 0;
   left: 0;
   padding: 10px 0 20px 0;
   background-color: black;
}

.download-cta {
   display: flex;
   align-items: center;
   gap: 10px;
   vertical-align: middle;
   padding-bottom: 10px;
   margin-bottom: 10px;
   border-bottom: 2px solid #A3A3A3;
}

.download-cta svg {
   fill: #A3A3A3;
}

.download-cta:hover {
   color: white;
   cursor: pointer;
}

.download-cta:hover svg {
   fill: white;
}

.download-cta .img-wrapper {
   height: 20px;
   aspect-ratio: 1 / 1;
}

.profile {
   display: flex;
   align-items: center;
   gap: 10px;
}

.profile .img-wrapper {
   width: 30px;
   aspect-ratio: 1 / 1;
   border-radius: 50%;
   background-color: #808080;
   overflow: hidden;
}

.profile-name {
   color: white;
   font-weight: bolder;
   font-size: 17px;
}


/* - - - MAIN CONTENT - - - */

.main-content {
   flex-grow: 1;
   height: 100%;
   padding-top: 85px;
   position: relative;
   background-color: #141922;
   overflow-y: auto;
}

.upgrade-section {
   position: fixed;
   top: 0;
   right: 0;
   width: calc(100% - 230px);
   height: 85px;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   background-color: rgba(0, 0, 0, 0.5);
   z-index: 10;
}

.upgrade-btn {
   height: 40px;
   width: 220px;
   border-radius: 30px;
   border: 3px solid white;
   background: none;
   color: white;
   text-transform: uppercase;
   font-weight: bold;
   margin-right: 25px;
}

.upgrade-btn:hover {
   height: 45px;
   width: 240px;
   font-size: 14px;
   margin-right: 15px;
   cursor: pointer;
}

.navbar-section {
   margin-bottom: 20px;
}

.navbar-list {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap: 20px;
   white-space: nowrap;
   padding: 15px;
   color: white;
}

.navbar-list li {
   text-transform: uppercase;
   font-weight: bolder;
   color: #7B7E82;
   position: relative;
}

.navbar-list li:hover {
   color: white;
   cursor: pointer;
}

.navbar-list li.active::after {
   content: "";
   display: block;
   height: 3px;
   width: 50px;
   background: #ADFF2F;
   position: absolute;
   left: 50%;
   bottom: -6px;
   transform: translateX(-50%);
}

.main-content .row {
   padding: 20px;
   margin-bottom: 10px;
}

.row h2 {
   font-size: 30px;
   color: white;
   font-weight: 900;
   margin-bottom: 30px;
}

.card-wrapper {
   display: flex;
   flex-wrap: wrap;
   row-gap: 30px;
   column-gap: 15px;
}

.card {
   width: calc((100% - 15px * 5) / 6);
}

.artists .card-thumb {
   border-radius: 50%;
   overflow: hidden;
}

.card-thumb {
   aspect-ratio: 1 / 1;
   position: relative;
   margin-bottom: 10px;
}

.card-thumb:hover {
   cursor: pointer;
}

.card-thumb:hover::after {
   content: "\f144";
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: "Font Awesome 5 Free";
   color: white;
   font-size: calc(15px + 4vw);
   position: absolute;
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0, 0.7);
}

.card-desc {
   color: white;
   text-align: center;
   overflow: hidden;
}

.card-title {
   font-size: 16px;
   font-weight: 900;
   margin-bottom: 5px;
}

.card-subtitle {
   font-size: 14px;
   color: #7B7E82;
}


/* - - - TOOLBAR - - - */

.toolbar {
   height: 90px;
   width: 100%;
   padding: 0 10px;
   position: fixed;
   bottom: 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #282828;
   color: #FFFFFF;
}

   /* Song info */

.song-info-section {
   flex-shrink: 1;
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 10px;
   min-width: 160px;
}

.song-info-section .img-wrapper {
   height: 45px;
   aspect-ratio: 1 / 1;
}

.song-info {
   display: flex;
   align-items: center;
   gap: 10px;
   white-space: nowrap;
   overflow: hidden;
}

.song-wrapper {
   display: flex;
   flex-direction: column;
}

.song-name {
   font-weight: bold;
   margin-bottom: 3px;
}

.song-author {
   font-weight: bold;
   font-size: 12px;
   color: #848484;
}

.song-author:hover {
   color: white;
   text-decoration: underline;
   cursor: pointer;
}

.song-buttons {
   display: flex;
   align-items: center;
   gap: 15px;
   color: #878787
}

.song-buttons .icon-wrapper {
   font-size: 18px;
}

.song-buttons .icon-wrapper:hover  {
   color: white;
   cursor: pointer;
}

   /* Timeline */

.timeline-section {
   width: 40%;
   min-width: 210px;
   flex-shrink: 3;
   display: flex;
   flex-direction: column;
   gap: 10px;
   padding: 10px;
}

.control-buttons-wrapper {
   display: flex;
   justify-content: center;
}

.control-buttons {
   display: flex;
   justify-content: space-between;
   align-items: center;
   min-width: 200px;
   font-size: 18px;
}

.control-buttons .icon-wrapper{
   aspect-ratio: 1 / 1;
   overflow: visible;
   display: flex;
   justify-content: center;
}

.control-buttons .icon-wrapper.main-btn {
   font-size: 30px;
}

.control-buttons .icon-wrapper.secondary-btn {
   height: 18px;
}

.control-buttons .icon-wrapper.main-btn {
   height: 30px;
}

.control-buttons .icon-wrapper.secondary-btn:hover {
   cursor: pointer;
   font-size: 23px;
}

.control-buttons .icon-wrapper.main-btn:hover {
   cursor: pointer;
   font-size: 35px;
}

.timeline {
   display: flex;
}

.time-bar-wrapper {
   flex-grow: 1;
   flex-shrink: 1;
   padding: 0 15px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.time-bar {
   height: 6px;
   width: 100%;
   border-radius: 6px;
   background-color: #5A5A5A;
   position: relative;
}

.actual-time-bar {
   position: absolute;
   left: 0;
   z-index: 1;
   width: 25%;
   height: 100%;
   border-radius: 6px;
   background-color: #FFFFFF;
}

.time-bar:hover {
   cursor: pointer;
}

.time-bar:hover .actual-time-bar {
   background-color: #ADFF2F;
}

.bar-pointer {
   height: 16px;
   aspect-ratio: 1 / 1;
   position: absolute;
   top: 50%;
   right: 0;
   transform: translate(50%, -50%);
   border-radius: 50%;
   background-color: white;
   z-index: 2;
   display: none;
}

.time-bar:hover .bar-pointer{
   display: block;
}

   /* Volume */

.volume-section {
   flex-shrink: 1;
   display: flex;
   align-items: center;
   gap: 15px;
   min-width: 160px;
}

.volume-section .icon-wrapper {
   height: 16px;
   aspect-ratio: 1 / 1;
   font-size: 16px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.volume-section .icon-wrapper:hover {
   font-size: 21px;
   cursor: pointer;
}

.volume-bar {
   height: 6px;
   width: 60px;
   flex-shrink: 1;
   border-radius: 6px;
   background-color: #5A5A5A;
   position: relative;
}

.actual-volume-bar {
   position: absolute;
   left: 0;
   z-index: 1;
   width: 65%;
   height: 100%;
   border-radius: 6px;
   background-color: #FFFFFF;
}

.volume-bar:hover {
   cursor: pointer;
}

.volume-bar:hover .actual-volume-bar {
   background-color: #ADFF2F;
}

.volume-bar:hover .bar-pointer{
   display: block;
}


/*  - - - MEDIA QUERIES - - - */

/* M layout */
@media screen and (max-width: 980px) {
   
   .card-wrapper {
      column-gap: 10px;
   }
   
   .card {
      width: calc((100% - 10px * 3) / 4);
   }
}

/* S layout */
@media screen and (max-width: 640px) {
   
   .card {
      width: calc((100% - 10px) / 2);
   }
}

/* XS layout */
@media screen and (max-width: 550px) {

   .sidebar {
      flex-basis: 50px;
      padding: 8px 0;
   }

   .hidden-sm-sidebar {
      display: none;
   }

   .logo-section {
      margin-bottom: 10px;
   }

   .logo-big {
      display: none;
   }

   .logo-small {
      display: block;
   }

   .home-section {
      flex-grow: 1;
   }

   .home-section li {
      justify-content: center;
   }

   .download-cta {
      justify-content: center;
      border: none;
   }

   .profile {
      justify-content: center;
   }

   .song-info-section {
      padding-right: 30px;
   }

   .song-info .img-wrapper {
      height: 30px;
   }

   .song-buttons {
      flex-direction: column;
      justify-content: space-between;
      gap: 0;
   }

   .upgrade-section {
      width: calc(100% - 50px);
   }

   .home-section li.active::after {
      left: 0;
   }
}

/* Scrollbar */

.custom-scrollbar::-webkit-scrollbar {
   width: 20px;
}
 
.custom-scrollbar::-webkit-scrollbar-track {
   background-color: #FBFBFB;
}
 
.custom-scrollbar::-webkit-scrollbar-thumb {
   background-color: #b1b1b1;
   border-radius: 30px;
   border: 5px solid #FBFBFB;
}


/* - - - DEBUG - - - */

.debug main {
   background-color: grey;
}

.debug footer {
   background-color: orange;
}

.debug .sidebar {
   background-color: black;
}

.debug .sidebar > div {
   background-color: blue;
   border: 2px solid white;
}

.debug .sidebar > div > * {
   background-color: rgb(0, 183, 255);
   border: 2px solid white;
}

.debug .main-content {
   background-color: rgb(82, 82, 82);
}

.debug .main-content > *{
   background-color: green;
   border: 2px solid white;
   color: white;
}

.debug .toolbar > div {
   border: 1px solid black;
   background-color: orangered;
}